# See https://help.github.com/ignore-files/ for more about ignoring files.

# ignore .env.local file
.env*

# dependencies
**/node_modules
**/tsconfig.server.tsbuildinfo
tsconfig.tsbuildinfo
.next
dist

# testing
**/coverage
.clinic

# misc
.DS_Store
*.log

# editor
.idea

# environment

npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/lerna-debug.log*
